# SPDX-License-Identifier: GPL-2.0-or-later
## <summary>Optional ai_tools policy group: package management (rpm exec and RPM database reads). Exports no interfaces.</summary>
